public_key    = "ssh-rsa AAAA... your public key here"
# ami_id          = "ami-0d82255589f4eaca8"
# key_pair_name   = "accesskeyforec2"
# aws_region      = "ap-southeast-1"
# availability_zone = "ap-southeast-1a"
